@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-[#0e1628] text-[#0f172a] dark:text-[#e2e8f0] overflow-x-hidden;
    @apply min-h-screen;
  }
  li {
    @apply px-4 hover:bg-[#1f2937] hover:text-white py-1 my-2 mx-2;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
}

/* 
::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f6f9;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border: 1px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d5477;
} */
