@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-[#22262e] text-[#23272f] dark:text-[#f6f7f9] overflow-x-hidden;
    @apply min-h-screen;
  }
  li {
    @apply px-4 hover:bg-[#333a4556] hover:text-white py-1 my-2 mx-2;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
}

/* for loading while dom rendering */
#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
